<?xml version='1.0' encoding='UTF-8'?>
<page>
	<id>settings</id>
	<template-instance>settings-instance</template-instance>
	<authentication>user</authentication>
	<components>
		<component>
			<region-id>settings</region-id>
			<url>/formez/page/settings</url>
		</component>
    </components>
</page>